<!DOCTYPE html>
<html>
<head>
  <!--<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>-->
  <title><%= full_title(yield(:title)) %> </title>
  <!--下面三句話是Rails生成的-->
  <%= csrf_meta_tags %><!--避免跨站请求伪造（Cross-Site Request Forgery，简称 CSRF，一种
恶意网络攻击）-->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %><!--把每个页面的内容插入布局中。-->
</body>
</html>
